$body-bg: black;

$theme-colors: (
  "primary": #25D865,
  "secondary": white,
  "danger": #C03435,
  "dark": #141414,
  "light": rgba(176, 176, 176, 0.3)
);

.btn {
  border-radius: 9999px !important;
}

.login-btn {
  height: 50px;
}


.nav-link {
  color: #b3b3b3 !important;
  @extend .fw-bold;
  @extend .mx-2;

  &.active {
    color: #25D865 !important;
  }
}

.nav-item.active {
  div {
    border-bottom: 2px #25D865 solid;
    height: 120%;
  }
}

.btn-primary :hover {
  background-color: #1fdf64;
}

$font-family-base: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;

.link-secondary :hover {
  color: var(--bs-primary)
}

.text-light a {
  // @extend .fw-bold;
  @extend .text-light;
  @extend .link-underline-opacity-0;
  @extend .link-underline;


  &:hover {
    @extend .link-underline-opacity-100;
    @extend .link-underline-light;
  }
}

div::-webkit-scrollbar-track {
  // border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease 1000ms;
}

div:hover{
  &::-webkit-scrollbar-thumb{
    background-color: #5a5a5a60;
  }
}

// .bp-scroller {
//   overflow: auto;
// }

.spotify-btn:hover {
  color: white !important;
}

.spotify-play-btn:hover {
  background-color: white !important;
}

.spotify-btn:active {
  border-style: none !important;
}

.spotify-btn {
  border-style: none !important;
}


input[type=range] {
  border-radius: 8px;
  height: 6px;
  outline: none;

  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  visibility: hidden;
}

input[type=range]:disabled::-webkit-slider-thumb {
  visibility: hidden !important;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #FFFFFF;
  visibility: visible;
  border-radius: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  -webkit-appearance: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em
  }

  40% {
    box-shadow: 0 2.5em 0 0
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  transform: translateX(-70%);
  background-color: #282828 !important;

  @extend .px-1;
}

.dropdown-item:hover {
  background-color: #3E3E3E !important;
}

.dropdown-item {
  line-height: 30px !important;
}

.dropdown-divider {
  margin: 0 !important;
}

span::first-letter {
  text-transform: capitalize;
}

.truncated-title {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.playlist-display {
  background-color: #121212;
}

.playlist-item {
  cursor: pointer;
  &:hover {
    background-color: #1A1A1A !important;
  }
}

.playlist-item.selected {
  background-color: #232323!important;
  &:hover{
    background-color: #393939!important;
  }
}

.track-item {
  // cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  &:hover {
    background-color: #1A1A1A !important;
  }
}

.track-item.selected {
  background-color: #393939!important;
  &:hover{
    background-color: #393939!important;
  }
}

.resizer {
  height: 100%;
  width: 1px;
  cursor: col-resize;
  flex-shrink: 0;
  position: relative;
  z-index: 10;

  &:hover {
    background: #444857;

  }
}

#playlist-scroller {
  flex-shrink: 0;
}

@import '~bootstrap/scss/bootstrap.scss';