$body-bg: #191919;

$theme-colors: (
  "primary": #25D865,
  "secondary": white,
  "danger": #C03435,
  "dark": #141414,
  "light": rgba(176, 176, 176, 0.3)
);

.btn {
  border-radius: 9999px !important;
}

.login-btn {
  height: 50px;
}

.logout-btn {
  background-color: #C03435 !important;
}

.nav-link {
  color: #b3b3b3 !important;
  @extend .fw-bold;
  @extend .mx-2;

  &.active {
    color: #25D865 !important;
  }
}

.nav-item {
  border-right: 1px rgba(176, 176, 176, 0.3) solid;

  &.first {
    border-left: 1px rgba(176, 176, 176, 0.3) solid;
  }
}

.nav-item.active {
  div {
    border-bottom: 2px #25D865 solid;
    height: 120%;
  }
}

.btn-primary :hover {
  background-color: #1fdf64;
}

$font-family-base: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;

.link-secondary :hover {
  color: var(--bs-primary)
}

.text-light a {
  @extend .fw-bold;
  @extend .text-light;
  @extend .link-underline-opacity-0;
  @extend .link-underline;


  &:hover {
    @extend .link-underline-opacity-100;
    @extend .link-underline-light;
  }
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #191919;
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: #191919;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #141414;
}

.bp-scroller {
  overflow: auto;
}

.spotify-btn:hover {
  color: white !important;
}

.spotify-play-btn:hover {
  background-color: white !important;
}

.spotify-btn:active {
  border-style: none !important;
}

.spotify-btn {
  border-style: none !important;
}


input[type=range] {
  border-radius: 8px;
  height: 6px;
  outline: none;

  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  visibility: hidden;
}

input[type=range]:disabled::-webkit-slider-thumb {
  visibility: hidden!important;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #FFFFFF;
  visibility: visible;
  border-radius: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  -webkit-appearance: none;
}

@import '~bootstrap/scss/bootstrap.scss';